<div class="particulars">
    <div class="dataSource">
        <span>连接配置详情</span>
        <div class="amend">
            <cm-button>
                <button nz-button [nzType]="'primary'" [nzSize]="'large'" [routerLink]="['/main/myTable/modify',myTableDeta.id]" [disabled]="myTableDeta.status==0?true:false">
                    <span>修改</span>
                </button>
            </cm-button>
        </div>
    </div>
    <cm-form>
        <form nz-form [formGroup]="validateForm">
            <div nz-form-item nz-row>
                <div nz-form-label nz-col [nzSpan]="2">
                    <label>ID</label>
                </div>
                <div nz-form-control nz-col [nzSpan]="20">
                    <span nz-form-text>{{myTableDeta.id}}</span>
                </div>
            </div>
            <div nz-form-item nz-row>
                <div nz-form-label nz-col [nzSpan]="2">
                    <label>连接配置名称</label>
                </div>
                <div nz-form-control nz-col [nzSpan]="20">
                    <span nz-form-text [title]="myTableDeta.name">{{myTableDeta.name}}</span>
                </div>
            </div>
            <div nz-form-item nz-row>
                <div nz-form-label nz-col [nzSpan]="2">
                    <label>连接配置类型</label>
                </div>
                <div nz-form-control nz-col [nzSpan]="20">
                    <span nz-form-text>{{myTableDeta.type}}</span>
                </div>
            </div>
            <div *ngIf="myTableDeta.type=='JDBC'">
                <div nz-form-item nz-row>
                    <div nz-form-label nz-col [nzSpan]="2">
                        <label>主机IP</label>
                    </div>
                    <div nz-form-control nz-col [nzSpan]="20">
                        <span nz-form-text>{{myTableDeta.host}}</span>
                    </div>
                </div>
                <div nz-form-item nz-row>
                    <div nz-form-label nz-col [nzSpan]="2">
                        <label>数据库名称</label>
                    </div>
                    <div nz-form-control nz-col [nzSpan]="20">
                        <span nz-form-text [title]="myTableDeta.database">{{myTableDeta.database}}</span>
                    </div>
                </div>
                <div nz-form-item nz-row>
                    <div nz-form-label nz-col [nzSpan]="2">
                        <label>端口号</label>
                    </div>
                    <div nz-form-control nz-col [nzSpan]="20">
                        <span nz-form-text>{{myTableDeta.port}}</span>

                    </div>
                </div>
                <div nz-form-item nz-row>
                    <div nz-form-label nz-col [nzSpan]="2">
                        <label>用户名</label>
                    </div>
                    <div nz-form-control nz-col [nzSpan]="20">
                        <span nz-form-text [title]="myTableDeta.userName">{{myTableDeta.userName}}</span>

                    </div>
                </div>
                <div nz-form-item nz-row>
                    <div nz-form-label nz-col [nzSpan]="2">
                        <label>密码</label>
                    </div>
                    <div nz-form-control nz-col [nzSpan]="20">
                        <span nz-form-text>*********</span>
                    </div>
                </div>
                <div nz-form-item nz-row>
                    <div nz-form-label nz-col [nzSpan]="2">
                        <label>描述</label>
                    </div>
                    <div nz-form-control nz-col [nzSpan]="20">
                        <span nz-form-text [title]="myTableDeta.description">{{myTableDeta.description}}</span>
                    </div>
                </div>
                <div nz-form-item nz-row>
                    <div nz-form-label nz-col [nzSpan]="2">
                        <label>状态</label>
                    </div>
                    <div nz-form-control nz-col [nzSpan]="20">
                        <span *ngIf="myTableDeta.status!=0?true:false">正常</span>
                        <span *ngIf="myTableDeta.status==0?true:false">禁用</span>
                    </div>
                </div>
            </div>
            <div *ngIf="myTableDeta.type=='RESTAPI'">
                <div nz-form-item nz-row>
                    <div nz-form-label nz-col [nzSpan]="2">
                        <label>URL</label>
                    </div>
                    <div nz-form-control nz-col [nzSpan]="20">
                        <span nz-form-text>{{myTableDeta.url}}</span>
                    </div>
                </div>
                <div nz-form-item nz-row>
                    <div nz-form-label nz-col [nzSpan]="2">
                        <label>描述</label>
                    </div>
                    <div nz-form-control nz-col [nzSpan]="20">
                        <span nz-form-text [title]="myTableDeta.description">{{myTableDeta.description}}</span>
                    </div>
                </div>
                <div nz-form-item nz-row>
                    <div nz-form-label nz-col [nzSpan]="2">
                        <label>状态</label>
                    </div>
                    <div nz-form-control nz-col [nzSpan]="20">
                        <span *ngIf="myTableDeta.status!=0?true:false">正常</span>
                        <span *ngIf="myTableDeta.status==0?true:false">禁用</span>
                    </div>
                </div>
            </div>
            <div *ngIf="myTableDeta.type=='ELASTICSEARCH'">
                <div nz-form-item nz-row>
                    <div nz-form-label nz-col [nzSpan]="2">
                        <label>版本号</label>
                    </div>
                    <div nz-form-control nz-col [nzSpan]="20">
                        <span nz-form-text>{{myTableDeta.version}}</span>
                    </div>
                </div>
                <div nz-form-item nz-row>
                    <div nz-form-label nz-col [nzSpan]="2">
                        <label>URL</label>
                    </div>
                    <div nz-form-control nz-col [nzSpan]="20">
                        <span nz-form-text>{{myTableDeta.url}}</span>
                    </div>
                </div>
                <div nz-form-item nz-row>
                    <div nz-form-label nz-col [nzSpan]="2">
                        <label>描述</label>
                    </div>
                    <div nz-form-control nz-col [nzSpan]="20">
                        <span nz-form-text [title]="myTableDeta.description">{{myTableDeta.description}}</span>
                    </div>
                </div>
                <div nz-form-item nz-row>
                    <div nz-form-label nz-col [nzSpan]="2">
                        <label>状态</label>
                    </div>
                    <div nz-form-control nz-col [nzSpan]="20">
                        <span *ngIf="myTableDeta.status!=0?true:false">正常</span>
                        <span *ngIf="myTableDeta.status==0?true:false">禁用</span>
                    </div>
                </div>
            </div>
            <div *ngIf="myTableDeta.type=='SPARK'">
                <div nz-form-item nz-row>
                    <div nz-form-label nz-col [nzSpan]="2">
                        <label>主机IP</label>
                    </div>
                    <div nz-form-control nz-col [nzSpan]="20">
                        <span nz-form-text>{{myTableDeta.host}}</span>

                    </div>
                </div>
                <div nz-form-item nz-row>
                    <div nz-form-label nz-col [nzSpan]="2">
                        <label>数据库名称</label>
                    </div>
                    <div nz-form-control nz-col [nzSpan]="20">
                        <span nz-form-text [title]="myTableDeta.database">{{myTableDeta.database}}</span>

                    </div>
                </div>
                <div nz-form-item nz-row>
                    <div nz-form-label nz-col [nzSpan]="2">
                        <label>spark库</label>
                    </div>
                    <div nz-form-control nz-col [nzSpan]="20">
                        <span nz-form-text [title]="myTableDeta.database">{{myTableDeta.database}}</span>
                    </div>
                </div>
                <div nz-form-item nz-row>
                    <div nz-form-label nz-col [nzSpan]="2">
                        <label>端口号</label>
                    </div>
                    <div nz-form-control nz-col [nzSpan]="20">
                        <span nz-form-text>{{myTableDeta.port}}</span>

                    </div>
                </div>
                <div nz-form-item nz-row>
                    <div nz-form-label nz-col [nzSpan]="2">
                        <label>用户名</label>
                    </div>
                    <div nz-form-control nz-col [nzSpan]="20">
                        <span nz-form-text [title]="myTableDeta.userName">{{myTableDeta.userName}}</span>

                    </div>
                </div>
                <div nz-form-item nz-row>
                    <div nz-form-label nz-col [nzSpan]="2">
                        <label>密码</label>
                    </div>
                    <div nz-form-control nz-col [nzSpan]="20">
                        <span nz-form-text>*********</span>
                    </div>
                </div>
                <div nz-form-item nz-row>
                    <div nz-form-label nz-col [nzSpan]="2">
                        <label>描述</label>
                    </div>
                    <div nz-form-control nz-col [nzSpan]="20">
                        <span nz-form-text [title]="myTableDeta.description">{{myTableDeta.description}}</span>
                    </div>
                </div>
                <div nz-form-item nz-row>
                    <div nz-form-label nz-col [nzSpan]="2">
                        <label>状态</label>
                    </div>
                    <div nz-form-control nz-col [nzSpan]="20">
                        <span *ngIf="myTableDeta.status!=0?true:false">正常</span>
                        <span *ngIf="myTableDeta.status==0?true:false">禁用</span>
                    </div>
                </div>
            </div>
            <div nz-form-item nz-row>
                <div nz-form-label nz-col [nzSpan]="2">
                    <label>创建人</label>
                </div>
                <div nz-form-control nz-col [nzSpan]="20">
                    <span>{{myTableDeta.creator}}</span>
                </div>
            </div>
            <div nz-form-item nz-row>
                <div nz-form-label nz-col [nzSpan]="2">
                    <label>创建时间</label>
                </div>
                <div nz-form-control nz-col [nzSpan]="20">
                    <span>{{myTableDeta.createTime}}</span>
                </div>
            </div>
            <div nz-form-item nz-row>
                <div nz-form-label nz-col [nzSpan]="2">
                    <label>更新人</label>
                </div>
                <div nz-form-control nz-col [nzSpan]="20">
                    <span>{{myTableDeta.updater}}</span>
                </div>
            </div>
            <div nz-form-item nz-row>
                <div nz-form-label nz-col [nzSpan]="2">
                    <label>更新时间</label>
                </div>
                <div nz-form-control nz-col [nzSpan]="20">
                    <span>{{myTableDeta.updateTime}}</span>
                </div>
            </div>
        </form>
    </cm-form>
</div>
