<div style="margin: 24px;display: block;">
    <div class="datasourceoperate">
        <datasource-operate></datasource-operate>
    </div>
    <div class="content">
        <div>
            <datasource-search></datasource-search>
        </div>

        <div>
            <datasource-list></datasource-list>
        </div>
    </div>
</div>